<div class="container">

  <div class="navbar-header">

    <button
      type="button"
      class="navbar-toggle collapsed"
      data-toggle="collapse"
      data-target="#steeplejack-navbar-collapse" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand" href="{{ '/' | prepend:site.baseurl }}">
      Steeplejack
    </a>

  </div>

  <div class="collapse navbar-collapse" id="steeplejack-navbar-collapse">

    <ul class="nav navbar-nav navbar-right">
      {% for item in site.data.navbar %}
        <li{% if page.url == item.url %} class="active"{% endif %}>
          <a href="{{ item.url | prepend:site.baseurl }}">
            {{ item.title }}
          </a>
        </li>
      {% endfor %}
    </ul>

  </div>

</div>
