.layout.layout--home {

  h2 {
    margin: {
      top: $grid-gutter-width;
      bottom: $grid-gutter-width;
    }
  }

  .what-is-steeplejack {

    h2 {
      color: $brand-info;
    }

  }

  .frameworks {

    background: {
      color: $brand-info;
    }

    .framework-wrapper {

      @extend .text-center;

      margin: {
        top: $grid-gutter-width;
        bottom: $grid-gutter-width;
      }

      &.framework--socketio {
        img {
          padding: $grid-gutter-width;
        }
      }

      img {
        margin: 0 auto;
        background: {
          color: #fff;
        }
        max-height: 100px;
      }

    }

  }

  .features {

  }

  header {

    background: {
      color: $gray-base;
      image: url('/assets/img/jumbotron/paint.jpg');
      position: top;
      repeat: no-repeat;
      size: cover;
    }

    .social_buttons {
      margin: {
        top: $grid-gutter-width;
        bottom: $grid-gutter-width;
      }
    }

    .jumbotron {
      @extend .col-xs-12;

      background: none;

      .container {
        background: {
          color: rgba($gray-base, 0.66);
        }
        color: #fff;
        border: {
          radius: $border-radius-large;
        }
      }
    }

  }

  .lead {

    ul {

      li {
        padding: {
          top: $grid-gutter-width / 2;
          bottom: $grid-gutter-width / 2;
        }
      }

    }

  }

}
