.layout.layout--sidebar {

  padding: {
    top: $navbar-height;
  }

  .site-content {

    .container {

      margin: {
        top: $navbar-margin-bottom;
      }

      pre.highlight {
        @extend .no-padding;
      }

    }

    .action-buttons {
      @extend .text-center;

      margin: {
        top: $grid-gutter-width;
      }
    }

  }

}
