.layout.layout--sidebar {
  margin: {
    top: 140px;
  }

  h2:before {
    display: block;
    content: " ";
    margin-top: -140px;
    height: 140px;
    visibility: hidden;
  }

  &.site {
    min-height: calc(100vh - 140px);
  }
}
