.footer-wrapper {

  background: {
    color: $gray-base;
  }
  color: #fff;
  margin: {
    top: $grid-gutter-width;
  }
  padding: {
    top: $grid-gutter-width;
    bottom: $grid-gutter-width;
  }

}
