.jumbotron {

  position: relative;

  display: flex;
  align-items: flex-end;

  &.jumbotron--home-page {

    background: {
      color: $color-black;
      image: url("../img/jumbotron/paint.jpg");
      position: center;
      //image: url("../img/jumbotron/brushes.jpg");
      //position: bottom;
      repeat: no-repeat;
      size: cover;
    }
    min: {
      height: 400px;
    }

    .lead {
      background: {
        color: rgba($color-black, 0.66);
      }

      color: $color-white;
      padding: $jumbotron-padding;
      border: {
        radius: $border-radius-large;
      }
    }

    .btn {
      opacity: 1;
    }

  }

}
