<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="{{ site.description | strip_newlines }}" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:title" content="{{ page.title }} {{ site.title}}" />
    <meta property="og:description" content="{{ site.description | strip_newlines }}" />
    <meta property="og:image" content="{% if page.og_img %}{{ page.og_img }}{% else %}{{ site.default_img }}{% endif %}" />

    <meta property="twitter:site" content="@{{ site.twitter }}" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="{{ page.title }} {{ site.title }}" />
    <meta property="twitter:description" content="{{ site.description | strip_newlines }}" />
    <meta property="twitter:image:src" content="{% if page.og_img %}{{ page.og_img }}{% else %}{{ site.default_img }}{% endif %}" />

    <title>
      {{ page.title }} {{ site.title}}
    </title>

    <link href="{{ '/assets/styles/main.css' | prepend:site.baseurl }}" rel="stylesheet">

  </head>

  <body class="site">

    <div class="layout layout--{{ page.layout }}">
      {{ content }}
    </div>

    <script src="{{ '/node_modules/jquery/dist/jquery.min.js' | prepend:site.baseurl }}"></script>
    <script src="{{ '/node_modules/bootstrap-sass/assets/javascripts/bootstrap.min.js' | prepend:site.baseurl }}"></script>
    <script src="{{ '/assets/js/app.js' | prepend:site.baseurl }}"></script>

  </body>

</html>
