---
layout: default
---

<header>

  <nav class="navbar navbar-inverse navbar-static-top">

    {% include navbar.html %}

  </nav>

  <div class="jumbotron text-center">

    <div class="container">

      <div class="col-md-6 col-md-offset-3">

        <h1>
          NodeJS.<br />
          With less mess.
        </h1>

        <p>
          Get rid of the boilerplate and build highly testable NodeJS applications fast
        </p>

        <p>
          <a
            class="btn btn-jumbotron btn-lg"
            href="{{ '/getting-started' | prepend:site.baseurl }}"
            role="button">
            Quick start
            <i class="glyphicon glyphicon-arrow-right"></i>
          </a>
        </p>

        <div class="social_buttons">

          <div class="inline-pad">
              <a
                href="https://twitter.com/share"
                class="twitter-share-button"
                data-show-count="true">
                Tweet
              </a>
          </div>

          <div
            style="display:inline"
            class="fb-like"
            data-href="https://getsteeplejack.com"
            data-layout="button_count"
            data-colorscheme="dark"
            data-action="like"
            data-size="small"
            data-share="false">
          </div>

          <div class="inline-pad">
            <a
              class="github-button"
              href="https://github.com/steeplejack-js/steeplejack"
              data-show-count="true"
              aria-label="Star steeplejack-js/steeplejack on GitHub">
              Star
            </a>
          </div>

        </div>

      </div>

    </div>

  </div>

  <div class="clearfix"></div>

</header>

{{ content }}

{% include footer.html %}
