---
layout: default
---

<header>

  <nav class="navbar navbar-inverse navbar-static-top">

    {% include navbar.html %}

  </nav>

  <div class="jumbotron text-center">

    <div class="container">

      <div class="col-md-6 col-md-offset-3">

        <h1>
          NodeJS.<br />
          With less mess.
        </h1>

        <p>
          Get rid of the boilerplate and build highly testable NodeJS applications fast
        </p>

        <p>
          <a class="btn btn-jumbotron btn-lg" href="#" role="button">
            Quick start
            <i class="glyphicon glyphicon-arrow-right"></i>
          </a>
        </p>

      </div>

    </div>

  </div>

  <div class="clearfix"></div>

</header>

<section class="what-is-steeplejack">

  <div class="container lead">

    <h2>
      What is Steeplejack?
    </h2>

    <ul>
      <li>
        Steeplejack is an opinionated way of scaffolding your NodeJS applications. It's great for building
        microservices, writing reusable software and makes 100% test coverage really easy.
      </li>

      <li>
        Instead of repeatedly writing the same things over and over again, use conventions. Routing, data manipulation
        and logging become easy and enjoyable.
      </li>

      <li>
        Web sockets are first class citizens so you can make real time applications as easily as you can a RESTful or
        full stack project.
      </li>

      <li>
        A simple and reliable dependency injection system allows you to write intelligent unit tests that can
        interrogate what happens.
      </li>

      <li>
        Give it a go and fall in love with writing robust software again.
      </li>
    </ul>

  </div>

</section>
