---
layout: default
---

{% assign nav_pages = site.empty_array %}

{% for pg in site.pages %}
  {% if pg.docs and pg.url contains page.section and pg.sidebar != false %}
    {% assign nav_pages = nav_pages | push: pg %}
  {% endif %}
{% endfor %}

{% assign nav_pages = nav_pages | sort: 'order' %}
{% assign prev_page = '' %}
{% assign next_page = '' %}

<nav class="navbar navbar-default navbar-static-top">
  {% include navbar.html %}
</nav>

<div class="site-content">
  <div class="container">

    <div class="row">
      <div class="col-md-3 sidebar-wrapper">
        <div id="sidebar" data-spy="affix">
          <ul class="nav nav-sidebar nav-stacked">
            {% for pg in nav_pages %}

              {% assign activeClass = '' %}
              {% assign prev_id = '' %}
              {% assign next_id = '' %}

              {% if pg.url == page.url %}
                {% assign activeClass = 'active' %}
              {% endif %}

              {% if activeClass == 'active' and forloop.first == false %}
                {% assign prev_id = forloop.index0 | minus:1 %}
                {% assign prev_page = nav_pages[prev_id] %}
              {% endif %}

              {% if activeClass == 'active' and forloop.last == false %}
                {% assign next_id = forloop.index0 | plus:1 %}
                {% assign next_page = nav_pages[next_id] %}
              {% endif %}

              <li class="{{ activeClass }}">
                <a href="{{ pg.url }}">
                  {{ pg.title }}
                </a>

                {% if activeClass != '' %}
                  <div id="sidebar-child">
                    <ul class="nav nav-sidebar nav-stacked"></ul>
                  </div>
                {% endif %}

              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="col-md-9">
        <h1>
          {{ page.title }}
        </h1>

        <div>
          {{ content }}
        </div>

        <div class="action-buttons">
          <!--{{ next_page | inspect }}-->
          {% if prev_page or next_page %}
            <div class="btn-group" role="group">
              {% if prev_page != '' %}
                <a
                  role="button"
                  class="btn btn-warning"
                  href="{{ prev_page.url | prepend: site.baseurl }}">
                  <i class="fa fa-arrow-left"></i>
                  {{ prev_page.title }}
                </a>
              {% endif %}

              {% if next_page != '' %}
                <a
                  role="button"
                  class="btn btn-info"
                  href="{{ next_page.url | prepend: site.baseurl }}">
                    {{ next_page.title }}
                    <i class="fa fa-arrow-right"></i>
                </a>
              {% endif %}
            </div>
          {% endif %}
        </div>

      </div>
    </div>
  </div>
</div>

{% include footer.html %}
