.navbar {

  &.navbar-inverse {

    padding: {
      top: $navbar-margin-bottom;
    }

    font: {
      weight: $headings-font-weight;
    }

    .nav {

      &.navbar-nav {

        li {
          padding: {
            left: 10px;
          }

          a {
            border: {
              radius: 50px;
            }
            padding: {
              top: 10px;
              bottom: 10px;
            }
          }
        }

      }

    }

  }

}
